<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410130396185-sc45cdvp0nnf6c0gsc6tapdjq6bmnkoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410130396185-sc45cdvp0nnf6c0gsc6tapdjq6bmnkoa</string>
	<key>API_KEY</key>
	<string>AIzaSyBX_iDODL3BEJaw3YFEB6B1zH1OWmIP0tc</string>
	<key>GCM_SENDER_ID</key>
	<string>410130396185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MyTestApp</string>
	<key>PROJECT_ID</key>
	<string>mytestapp-b7606</string>
	<key>STORAGE_BUCKET</key>
	<string>mytestapp-b7606.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410130396185:ios:fc5d7fde8a47f2d4602688</string>
</dict>
</plist>